*{
   font-family: 'Josefin Sans', sans-serif;
}
.nav-bar{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.link{
   cursor: pointer;
   text-decoration: none;
   margin: 1rem;
   text-transform: uppercase;
}
.link:hover{
   color: red;
   text-decoration: underline;
}